Stack
Parser
Assembler 
Processor

.cache
compile_commands.json
TODO

PROGRAMM_ASM_1.txt
PROGRAMM_CODE_1.txt
PROGRAMM_ASM_2.txt
PROGRAMM_CODE_2.txt
PROGRAMM_ASM_3.txt
PROGRAMM_CODE_3.txt
PROGRAMM_ASM_4.txt
PROGRAMM_CODE_4.txt
PROGRAMM_ASM_5.txt
PROGRAMM_CODE_5.txt




huy.txt
output_file_bin.bin